body {
  background-color: black;
  padding: 0;
  margin: 0;
  
  font-family: "Montserrat", monospace;
}

/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: none;
  backdrop-filter: blur(1px);
  padding: 20px;
  border-radius: 8px;
}

.modal-content {
  color: white;
} */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.event-heading {
  color: white;
  text-align: center;
}
.dateValue {
  color: white;
  text-align: center;
}
.master1 {
  display: flex;
  margin-left: auto  ;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 5px;
}
.master2 {
  display: flex;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.master {
  display: flex;
  margin: auto;
}
.smallBox {
  background-color: #a0f0fa;
  height: 150px;
  width: 150px;
  text-align: center;
  transition: background-color 0.3s;
  color: black;
  position: relative;
  overflow: hidden;
}
.bigBox {
  height: 150px;
  width: 300px;
  text-align: center;
  position: relative;
  color: black !important;
  background-color: #02d7f2;
}
.bigBox2 {
  height: 150px;
  width: 610px;
  text-align: center;
  position: relative;
  color: black !important;
  background-color: #02d7f2;
}
.infoLinkLeft {
  color: black;
  background-color: #80ffff;
  position: absolute;
  text-decoration: none;
  bottom: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
}
.infoLinkLeft2{
  color: black;
  background-color: #80ffff;
  
  text-decoration: none;

  bottom: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
}
.infoLinkRight {
  color: black;
  background-color: #80ffff;
  position: absolute;
  text-decoration: none;
  bottom: 0;
  left: 0;
  padding-right: 30px;
  padding: 0.5rem 0.75rem;
}
.days {
  display: flex;
}
.smallBox:hover {
  color: white;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 4.5rem;
  z-index: 1;
}
.content {
  padding: 1rem;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 1.15rem;
}
.triangleLeft {
  height: 0;
  width: 0;
  right: 20px;
  top: -50px;
  border-top: 200px solid black;
  border-right: 200px solid transparent;
  position: absolute;
}
.triangleRight {
  height: 0;
  width: 0;
  right: -20px;
  top: -100px;
  border-top: 200px solid black;
  border-left: 200px solid transparent;
  position: absolute;
}

.master {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .master {
    flex-direction: column;
  }
  .bigBox {
    width: 275px;
    height: 75px;
    font-size: 1rem;
  }
  .smallBox {
    width: 75px;
    height: 75px;
    font-size: 0.75rem;
  }
  .infoLinkLeft2{
    
    bottom: 1;
    right: 0;
    height:30px ;

  }
  .bigBox2 {
    width: 190px;
    height: 75px;
    font-size: 1rem;
  }
  .content {
    font-size: 0.75rem;
    padding: 0.25rem;
  }
  .num {
    font-size: 2rem;
    margin-top: -5px;
  }
  .triangleLeft {
    right: -10px;
  }
  .triangleRight {
    right: -60px;
  }
  .content {
    padding: 0.25rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .bigBox {
    width: 250px;
    height: 100px;
    font-size: 1rem;
  }
  .bigBox2 {
    width: 500px;
    height: 100px;
    font-size: 1rem;
  }
  .smallBox {
    width: 100px;
    height: 100px;
    font-size: 0.75rem;
  }
  .content {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .num {
    font-size: 2rem;
  }
  .triangleLeft {
    right: -2.5px;
  }
  .triangleRight {
    right: -50px;
  }
}
