@font-face {
    font-family: Drummer-X;
    src: url(drummer1.ttf);
}

@font-face {
    font-family: Drummer-Register;
    src: url(drummer2.ttf);
}

@font-face {
    font-family: cyberway;
    src: url(cyber.otf);
}

.gradient_div{
    background: linear-gradient(180deg, rgba(35, 0, 70, 0) 0%, #230046 29.17%);
    height: 75%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5% 2.5% 0 2.5%;
}

.parent_div{
    filter: drop-shadow(0px 0px 8px #8f2187);
    text-align: left;
    height: 600px;
    width: 70%;
    position: relative;
    background-image: url("bgg.png");
    background-size: cover;
    margin: auto;
}

.head{
    color: white;
    padding: 0 20px;
    width: 100%;
    height: 100px;
    font-family: Drummer-X;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
}

.info{
    padding: 0 20px;
    width: 100%;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.btn1{
    position: absolute;
    right: 0;
    font-family: cyberway;
    font-style: normal;
    font-weight: 400;
    width: 100px;
    height: 100px;
    font-size: 50px;
    padding: 20px 25px 25px 25px;
    line-height: 138%;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    border-radius: 0;
}

.btn2{
    border-radius: 0;
    width: 35%;
    position: absolute;
    height : 15%;
    margin: 2% 30% 20px 30%;
    font-family: Drummer-Register;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 138%;
    letter-spacing: 0.04em;
    background: #02D7F2;
}


.btn1:hover {
    background: #02D7F2;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.btn2:hover {
    background: black;
    color: #FFFFFF;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

@media (max-width : 768px) {
    .btn2{
        width: 55%;
        margin: 4% 20% 5px 20%;
    }
    .head{
        font-size: 30px;
    }
    .info{
        font-size: 16px;
    }
    .parent_div{
        filter: drop-shadow(0px 0px 12px #8f2187);
        height: 520px;
        width: 98vw;
    }
    .gradient_div{
        height: 80%;
    }
}

@media (max-width : 450px){
    .gradient_div{
        height: 75%;
    }
}

@media (max-width : 380px) {
    .parent_div{
        height: 560px;
    }
}