

   /* YourComponentStyles.css */

body {
    margin: 0;
    padding: 0;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    color: white;
    background-color: linear-gradient(233deg, #64009A, #3B22AA, #B3007D);
  }
  

  
  .section-title {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    margin-top: 10px;
  }
  
  .chief-convener {
    text-align: center;
    margin-top: 100px;
  }
  
  .team-members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .team-member {
    width: 300px;
    height: 200px;
    background: #02D7F2;
    margin: 10px;
    font-family:"Chakra Petch" ;
  }
  
  
  
 
  
  .content {
  
    margin-bottom: auto; 
  }
  
  .footer-container {
    margin: 0;
    position: absolute; 
    width: 100%;
  }
  