.container {
  margin-top: 4rem;
  font-family: "Akira", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.heading {
  font-size: 2.4rem;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.heading:hover {
  transform: scale(1.05);
  z-index: 1;
}
.button {
  --glow-color: rgb(176, 231, 255);
  --glow-spread-color: rgba(123, 222, 255, 0.781);
  --enhanced-glow-color: rgb(206, 239, 255);
  --btn-color: rgb(61, 121, 136);
  text-align: center;
  margin: 3rem 0;
  padding: 1rem;
  width: 11rem;
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 0;
  border-bottom: 0.3rem solid rgb(91, 247, 255);
  border-top: 0;
  border-left: 0;
  border-right: 0.3rem solid rgb(91, 247, 255);
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  color: rgba(80, 220, 227, 0.849);
  background-color: rgb(61, 61, 61);
  outline: none;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  text-align: center;
  margin: 3rem 0;
  padding: 1rem;
  width: 11rem;
  height: 5rem;
  font-size: 1.6rem;
  text-shadow: .2rem .2rem .8rem var(--glow-spread-color);
  border-radius: 0;
  border-bottom: 0.3rem solid rgb(91, 247, 255);
  border-top: 0;
  border-left: 0;
  border-right: 0.3rem solid rgb(91, 247, 255);
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  color: rgba(80, 220, 227, 0.849);
  background-color: rgb(61, 61, 61);
  transform: scale(1.07) ;
}
.button:focus {
  text-align: center;
  margin: 3rem 0;
  padding: 1rem;
  width: 11rem;
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 0;
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  border: 0;
  background-color: red;
  color: white;
  transform: scale(1);
}
.button:disabled {
  text-align: center;
  margin: 3rem 0;
  padding: 1rem;
  width: 11rem;
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 0;
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  border: 0;
  background-color: lightgray;
  color: gray;
}
.button:active {
  text-align: center;
  margin: 3rem 0;
  padding: 1rem;
  width: 11rem;
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 0;
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  border: 0;
  background-color: rgb(91, 247, 255);
  color: black;
}

@media screen and (max-width: 450px) {
  .heading {
    margin: 0 2.5rem;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    text-align: center;
    margin: 3rem 0;
    padding: 1rem;
    width: 8rem;
    height: 4rem;
    font-size: 1rem;
    border-radius: 0;
    border-bottom: 0.3rem solid rgb(91, 247, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0.3rem solid rgb(91, 247, 255);
    clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
    color: rgba(80, 220, 227, 0.849);
    background-color: rgb(61, 61, 61);
    outline: none;
  }
  .button:hover {
    text-align: center;
    margin: 3rem 0;
    padding: 1rem;
    width: 8rem;
    height: 4rem;
    font-size: 1rem;
    border-radius: 0;
    border-bottom: 0.3rem solid rgb(91, 247, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0.3rem solid rgb(91, 247, 255);
    clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
    color: rgba(80, 220, 227, 0.849);
    background-color: rgb(61, 61, 61);
    transform: scale(1.1);
  }
  .button:focus {
    text-align: center;
    margin: 3rem 0;
    padding: 1rem;
    width: 8rem;
    height: 4rem;
    font-size: 1rem;
    border-radius: 0;
    clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
    border: 0;
    background-color: red;
    color: white;
    /* transition-duration: .8s; */
  }
  .button:disabled {
    text-align: center;
    margin: 3rem 0;
    padding: 1rem;
    width: 8rem;
    height: 4rem;
    font-size: 1rem;
    border-radius: 0;
    clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
    border: 0;
    background-color: lightgray;
    color: gray;
  }
  .button:active {
    text-align: center;
    margin: 3rem 0;
    padding: 1rem;
    width: 8rem;
    height: 4rem;
    font-size: 1rem;
    border-radius: 0;
    clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
    border: 0;
    background-color: rgb(91, 247, 255);
    color: black;
  }
}

@media screen and (min-width: 450px) and (max-width: 1000px) {
  .heading {
    margin: 0 9rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
