.container {
  margin: 4rem 0;
  font-family: 'Akira', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column; 
  overflow-x: hidden;
}
.heading{
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  transition: all .2s ease-in-out;
}
.heading:hover{
  transform: scale(0.975);
  z-index: 1;
}
.button {
  --glow-color: rgb(176, 231, 255);
  --glow-spread-color: rgba(123, 222, 255, 0.781);
  --enhanced-glow-color: rgb(206, 239, 255);
  --btn-color: rgb(61, 121, 136);
  text-align: center;
  margin-top: 2rem;
  padding: 0.3rem;
  width: 12rem;
  height: 6rem;
  font-size: 1.9rem;
  border-radius: 0;
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  color: white;
  background-color: rgb(61, 61, 61);
  outline: none;
  transition: all 0.15s;
}
.button:hover {
  text-align: center;
  margin-top: 2rem;
  padding: 0.3rem;
  width: 12rem;
  height: 6rem;
  font-size: 1.9rem;
  border-radius: 0;
  border-bottom: 0.3rem solid rgb(91, 247, 255);
  border-top: 0;
  border-left: 0;
  border-right: 0.3rem solid rgb(91, 247, 255);
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  color: rgba(80, 220, 227, 0.849);
  background-color: rgb(61, 61, 61);
  transition-duration: .15s;
}
.button:focus{
  text-align: center;
  margin-top: 2rem;
  padding: 0.3rem;
  width: 12rem;
  height: 6rem;
  font-size: 1.9rem;
  border-radius: 0;
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  border: 0;
  background-color: red;
  color: white;
}
.button:disabled{
  text-align: center;
  margin-top: 2rem;
  padding: 0.3rem;
  width: 12rem;
  height: 6rem;
  font-size: 1.9rem;
  border-radius: 0;
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  border: 0;
  background-color: lightgray;
  color: gray;
}
.button:active{
  text-align: center;
  margin-top: 2rem;
  padding: 0.3rem;
  width: 12rem;
  height: 6rem;
  font-size: 1.9rem;
  border-radius: 0;
  clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 20% 100%, 0 75%);
  border: 0;
  background-color: rgb(91, 247, 255);
  color: black;
}

@media screen and (max-width: 435px) {
  .heading{
    margin: 0 5rem;
    padding: 0 2rem;
  }
}
 
@media screen and (min-width:435px) and (max-width:1440px){
  .heading{
    margin: 0 5rem;
  }
}