@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Chakra+Petch:wght@600&display=swap');

.box {
  height: 1068px;
  width: 1188px;
}
.overlap_group {
  height: 883px;
  position: relative;
  width: 1193px;
  background-color:#02D7F2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 22%, 17% 0);
  overflow: hidden;
  margin-top: 20px;
}

.avinya {
  color: #010101;
  font-family: "Chakra Petch", Helvetica;
  font-size: 150px;
  font-weight: 600;
  left: 143px;
  letter-spacing: 0;
  line-height: 130px;
  position: absolute;
  top: 135px;
  width: 707px;
}

.avinya_year{
  color: #010101;
  font-family: "Chakra Petch", Helvetica;
  font-size: 150px;
  font-weight: 1000;
  left: 143px;
  letter-spacing: 0;
  line-height: 130px;
  position: absolute;
  top: 290px;
  width: 707px;
}

.intro_text {
  color: #010101;
  font-family: "Bai Jamjuree", Helvetica;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  left: 143px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 441px;
  width: 879px;
}

.rectangle_1 {
  background-color: #010101;
  height: 8px;
  left: 766px;
  position: absolute;
  top: 133px;
  width: 427px;
}

.rectangle_2{
  background-color: #010101;
  height: 8px;
  left: 927px;
  position: absolute;
  top: 275px;
  transform: rotate(-90deg);
  width: 427px;
}

.rectangle_3 {
  background-color: #010101;
  height: 8px;
  left: -143px;
  position: absolute;
  top: 666px;
  transform: rotate(-90deg);
  width: 427px;
}

.rectangle_4 {
  background-color: #010101;
  height: 8px;
  left: 29px;
  position: absolute;
  top: 789px;
  width: 427px;
}