.footer_main{
     padding: 3% 4% 1.5% 4%;
     font-Family: "Montserrat";
     width: 100%;
     height: 100%;
     background: url("..//back_img.png");
     background-size: contain;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     clip-path: polygon(1.5rem 0, 100% 0, 100% calc(100% - 1.5rem), calc(100% - 1.5rem) 100%, 0 100%, 0 1.5rem);
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 .border_div{ 
   /* background-color: #02D7F2;
   height: 200px;
   position: static;
   width: 98%;
   width: 97%;
   padding: 2px;
   margin: 1%;
   clip-path: polygon(1.5rem 0, 100% 0, 100% calc(100% - 1.5rem), calc(100% - 1.5rem) 100%, 0 100%, 0 1.5rem); */
  /* } */
 
    background-color: #02D7F2;
    height: 200px;
    position: static;
    width: 97%;
    padding: 2px;
    margin: 1%;
    clip-path: polygon(1.5rem 0, 100% 0, 100% calc(100% - 1.5rem), calc(100% - 1.5rem) 100%, 0 100%, 0 1.5rem);
 } 

 .avinya_txt{
     width: fit-content;
     height: fit-content;
     font-weight: 600;
     font-size: 4rem;
     line-height: 138%;
     letter-spacing: 0.04em;
 }
 
 
 .tagline, .follow{
     width: fit-content;
     height: fit-content;
     font-weight: 400;
     font-size: 1.2rem;
     line-height: 138%;
     letter-spacing: 0.04em;
 }

 .tagline{
    text-align: left;
 }
 
 .follow{
     margin: 10px;
     font-weight: 500;
     text-align: center;
 }
 
 .email, .addrs{
     font-weight: 500;
     font-size: 1.2rem;
     line-height: 138%;
     margin-top: 10px;
     text-align: center;
 }

 .cnt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1.2;
}

.cnt3, .cnt4{
    flex: 0.3;
}
.cnt3{
    margin-right: 5px;
}
.cnt4{
    margin-left: 5px;
}
.cont{
    flex: 0.7;
}

.img_cont{
     width: 45%;
     height: 22%;
     display: flex;
     justify-content: space-evenly;
 }

 .break, .break2, .break3{
     flex-basis: 0;
     height: 0;
 }
 
 @media (max-width: 1536px) {
     
     .avinya_txt{
        font-size: 3rem;
     }
     .follow, .email, .addrs, .tagline{
        font-size: 1.2rem;
     }
     .img_cont{width: 55%;}
 }
 
 @media (max-width: 1024px){
     .border_div{ 
        height: 260px; 
     }
     .cont, .cnt2{
        flex: 1;
     }
     /* .img_cont{
        /* width: 45%;
     }*/
     .break2{
        flex-basis: 100%;
     }
     .email, .addrs{
        margin: 0;
     }
     .cnt3, .cnt4{
        flex-grow: 1;
        margin-bottom: 2%; margin: 0%;
     }
 }

 @media (max-width: 768px){
     .footer_main{
        flex-wrap: wrap; 
     }
     .border_div{
        height: 380px;
    }
     .avinya_txt{
        font-size: 30px; margin: auto;
     }
     .tagline{margin: auto;}
     .tagline, .follow, .email, .addrs{
        font-size: 1.25rem;
     }
     /* .img_cont{
        /* width: 45%; height: 35%; 
     } */
     .cnt2,.cnt3,.cnt4 {
        flex-basis: 100%;
        flex: 1;
       }
     .break{
        flex-basis: 100%;
     }
     /* .addrs, .email{
        margin: auto;
     } */
 }

 @media (max-width : 500px) {
   .break3{
      flex-basis: 100%;
   }
 }


  /* .rect::before{
     content: '';
     background-color: black;
     inset: 2px;
     position: absolute;
     z-index: -1;
     clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 0% 100%);
 } */
 
 /* .rect::after{
 
 } */

 /* Rectangle 4 */



