
/* banner.css */

.banner-container {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  .banner-image {
    width: 100%;
    height: 100vh;
    display: block;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .centered {
    font-family: monospace;
    font-weight: bold;
    
  }
  
  #avinya {
    font-size: 15em;
    letter-spacing: 0.2em; /* Adjust the font size as needed */
  }
  
  #age {
    font-size: 4em;
    letter-spacing: 0.2em; /* Adjust the font size as needed */
  }
  
  #month {
    font-size: 4em; 
    letter-spacing: 0.2em;/* Adjust the font size as needed */
  }
  
  @media (max-width: 410px){
    .banner{
        width: 100%;
        height: 100vh;
        background-Repeat: no-repeat;
    background-Position: center center;
    background-Size: auto;
    }
    .centered {
        font-family: monospace;
        font-weight: bold;
        
      }
      
      #avinya {
        font-size: 5.5em;
         /* Adjust the font size as needed */
      }
      
      #age {
        font-size: 2em;
        /* Adjust the font size as needed */
      }
      
      #month {
        font-size: 2em; 
        /* Adjust the font size as needed */
      }
      
}


.banner{
    width: 100%;
    height: 100vh;
    background-Repeat: no-repeat;
    background-Position: center center;
    background-Size: auto;
}