/* banner.css */

.banner-container {
  position: relative;
  align-items: center;
  height: auto;
  width: 100%;
}

.text-overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: auto;
  transform: translate(-50%, -50%);
  text-align: relative center;
  color: white;
}

.centered {
  text-align: center;
}

.font-drummer {
  font-family: "drummer", sans-serif;
}

#avinya {
  font-size: 15em;
  letter-spacing: 0.2em;
  text-shadow: 0 0 10px rgba(238, 194, 51, 0.8),
    0 0 20px rgba(231, 172, 63, 0.801), 0 0 30px rgba(255, 255, 255, 0.8);
}

#age {
  font-size: 4em;
  letter-spacing: 0.2em;
  text-shadow: 0 0 10px rgba(238, 194, 51, 0.8),
    0 0 20px rgba(231, 172, 63, 0.801), 0 0 30px rgba(255, 255, 255, 0.8);
}

#month {
  font-size: 4em;
  letter-spacing: 0.2em;
  text-shadow: 0 0 10px rgba(238, 194, 51, 0.8),
    0 0 20px rgba(231, 172, 63, 0.801), 0 0 30px rgba(255, 255, 255, 0.8);
}

@media (max-width: 760px) {
  #avinya {
    font-size: 5.5em;
  }
  .avinya_name{
    top: 20%;
  }

  #age {
    font-size: 1.5em;
  }

  #month {
    font-size: 1.5em;
  }
  .avinya_name{
    position: absolute;
    left: -2%;
    top: -20%;
    margin: 4%;
  }
}
@media (max-width: 432px) {
  .banner-container {
    position: relative;

    overflow: hidden;
    max-width: 414px;
    max-height: 900px;
  }
  .avinya_name{
    position: absolute;
    left: 0%;
    top: -20%;
    margin: 4%;
  }

  #banner-image {
    overflow: hidden;
  }

 

  #age {
    font-size: 1em;
  }

  #month {
    font-size: 1em;
  }
}


.avinya_name{
  position: absolute;
  left: -4%;
  top: -30%;
  margin: 4%;
}

@media (max-width: 360px){
  .avinya_name{
    position: absolute;
    left: -4%;
    top: -20%;
    margin: 4%;
  }
}
